.container {
  /*margin: 20px auto;*/
  margin-top: 20px;
  width: 800px;
  padding: 0px 20px 20px 20px;
  border: 1px solid #2B3246;
  border-radius: 30px;
  line-height: 2;
}

.container h1 {
  font-size: 17pt;
}

.new-event {
  /*background-color: #2B3246;*/
  background-color: #DB4E50;
  color: #2B3246;
  width: 30%;
  border-radius: 30px;
}

.new-event h2 {
  padding-bottom: 20px;
  text-align: center;
}

.new-event input {
  width: 60%;
  color: #2B3246;
}

.new-event label {
  width: 30%;
}

.new-event #submit {
  margin-left: 25%;
  margin-top: 20px;
  background-color: #2B3246;
  color: white;
  border-radius: 30px;
}

.my-events a{
  font-size: 1.5em;
}

#logo a{
  font-size: 40px;
  line-height: 60px;
  color: black;
  font-weight: bold;
  font-family: 'Walter Turncoat', cursive;
}

.container-logo{
  margin-top: 65px;
  width: 30%;
  margin-left: 1%;
}

#logoimg {
  margin-top: -15px;
  margin-right: 2px;
  margin-left: -10px;
}

#bring-item-form {
  padding: 30px;
  margin: auto;
  width: 25%;
}

#bring-item-form input {
  width: 49%;
}

#stuff{
  width: 40%;
  height: 55px;
  font-size: 1.5em;
  margin: auto;
  border-radius: 20px;
  background-color: #DB4E50;
  display: block;
}

.container.party-items{
  height: 50%;
  width: 20%;
  top: 25%;
  right: 5%;
  position: absolute;
  margin-left: 78%;
  background-color: #DB4E50;
}
#item {
  color: white;
}
#bringer {
  color: black;
}

#remove-item {
  background-color: #DCEE74;
  color: #DB4E50;
}

.delete-button {
  display: inline-block;
}

body{
  background-color: #61CDCE;
  font-family: 'Play', sans-serif;
  font-size: 1.75em;
  color: #333333;
}

nav {
  width: 100%;
  height: 40px;
  font-weight: bold;
  background-image: none;
  background-color: #2B3246;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #444;
  width: 60%;
  display: inline-block;
}

.navbar {
  background-image: none;
  background-color: #2B3246;
}

nav ul {
  display: inline-block;
  width: 30%;
  text-align: right;
}

nav li {
  margin-right: 25px;
  display: inline;
}

nav li a {
  color: gray;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
  background-color: #DCEE74;
}

.active {
  background-image: none;
  background-color: #2B3246;
}

form label {
  font-weight: bold;
  margin-right: 20px;
}

input {
  margin-bottom: 10px;
}

.errors {
  color: red;
}

form.quirks {
  display: inline-block;
}

.submit {
  text-align: center;
}

.label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}


